/*Modificado el 28/03/2019 a las 21:07*/
body {
	display: grid;
	grid-template-areas: 
		"header"
		"nav"
		"article"
		"footer";
	grid-template-rows: 50px;
	grid-template-columns: 1fr;
	grid-gap: 5px;
	height: 100vh;
	margin: 0;
	background-color: antiquewhite;	
}

header, footer, article, nav, aside {
	padding: 15px;
	background-color: darkgrey;
	text-align: justify;
}

h1 {
	margin-top: 1px;
	text-align: center;
	font-size: 35px;
	height: 35px;
}

h2 {
	text-align: center;
	padding: 15px;
	border: 15px solid darkgoldenrod;
	background-color: #26619c;
	font-size: 22px;
}

#header{
	grid-area: header;
	padding: 1px;
	text-align: center;
	background-color: darkred;
}

#nav{	
	/*position: sticky;
	top: 0;
	display: inherit;*/
	position: fixed;
	top: 35px;
	width: 100%;	
	grid-area: nav;
	height: 20px;
	background-color: grey;
	text-align: center;
	
}

#nav a{
	display: inline;
	color: #f2f2f2;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 20px;
	background-color: darkred;
  color: white;
	text-align: center;
}

#nav a:hover {
  background-color: darkgoldenrod;
  color: black;
}

#section{
	grid-area: main;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	margin-top: 30px;
}

#section article{
	padding: 15px;
	border: 15px solid darkred;
	margin-top: 5px;
}

#section img {
	display: flex;
	margin: auto;
	width: 100%;
	height: 100%;
}

#botontop{
	visibility: hidden;
}

#footer{
	grid-area: footer;
}